<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab-Sphere</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div>Collab-Sphere</div>
        <div class="nav-links">
            <a href="/index">Home</a>
            <div class="search-bar">
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search projects">
                    <button type="submit">Search</button>
                </form>
            </div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>  
        </div>
    </nav>

    <h1>Collab-Sphere</h1>
    <p>Find beginner-friendly open-sourced projects to contribute to, or share your project ideas, and find collaborators!</h2>
    <form action="register.html" method="POST">
		<button type="submit">Sign-up</button>
	</form>
    <form action="login.html" method="POST">
        <button type="submit">Login</button>
    </form>


    <!-- Footer -->
    <footer>
        &copy; 2025 Collab-Sphere - Connect. Collaborate. Create.
    </footer>

</body>
</html>